<html>
  <head>
    <!-- <link rel="stylesheet" href='{ url_for('static', filename='style.css')}' type="text/css" /> -->
    
    <link href="//cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" rel="stylesheet" type="text/css">
    <script src="//cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>

    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Graph of Data</h1>
      
      <div class="container">
        {{ div | safe }}
      </div>

    </div>
  </body>
</html>